# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # - name: Golang Action
    #   uses: cedrickring/golang-action@1.5.2

    - name: Action Hugo
      uses: kevvurs/action-hugo@v1.0-rc2

    - name: deploy to server
      uses: AEnterprise/rsync-deploy@v1.0
      env:
        DEPLOY_KEY: ${{ secrets.SSH2 }}
        ARGS: "-e -c -r --delete"
        SERVER_PORT: 50022 # ${{ secrets.SERVER_PORT }}
        FOLDER: "./docs/*"
        SERVER_IP: frintrop.info # ${{ secrets.SERVER_IP }}
        USERNAME: frintropinfo # ${{ secrets.USERNAME }}
        SERVER_DESTINATION: frintrop.info/httpdocs/ # ${{ secrets.SERVER_DESTINATION }}
